@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'PT serif', serif !important;
  font-size: 20px;
  line height: 33px;
  min-height: 100%;
  position: relative
}

.content-body {
  padding-top: 70px;
  min-height: 100%;
  padding-bottom: 70px;
}

.placeholder {
  height: 500px;
}

p {
  padding: 10px;
}

.footer {

}

/** Menu **/

.nav-wrapper {
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
  overflow: hidden;
}

.topnav {
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.active {
  color: black !important;
}

.nav-icon {
  cursor: pointer;
  color: gray;
  font-size: 18px;
  margin: 10px;
  float: right;
}

.topnav-narrow {
  display: none;

}

.narrow-links {
  display: none;
}

.narrow-links a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  padding: 0.5em 0;
  color: gray;
  font-size: 18px;
}

.topbar {
  border-bottom: 1px solid #E8E8E8;
}

.topbar .nav-header {
  color: black !important;
  font-size: 36px;
}

.topbar a {
  color: gray;
  text-decoration: none;
}

/* Media Queries */

@media (max-width:600px) {
  .topnav {
      display: none;
  }
    
  .topnav-narrow {
      display: block;
  }
}

/* Excerpt Boxes */
.excerpt-box-wrapper {
  padding: 20px;
}

.excerpt-box {
  padding: 20px;
  border: 1px solid #E8E8E8;
  height: 100%;
}

.excerpt-box a {
  text-decoration: none;
  color: black;
}

.excerpt-box a:hover {
  color: gray;
}

/* Header */
.site-heading {
  font-size: 22px!important;
  font-weight: 600!important;
}

/* footer */
.footer-container {
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #E8E8E8;
}

.footer-container span {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.footer-icon {
  margin-bottom: 4px;
}